<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>UrbLancer</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost:3000/estilos/estilo1.css">
</head>
<body>
<!--Pagina de inicio-->
<div data-role="page" id="index">
	<div class="container">
    <div class="row">
		<div class="jumbotron">
			<h1>Urb Lancer</h1>
			<p>La app que te ayuda a encontrar el servicio que necesitas</p>
		</div>
        <div class="col-md-12">
            <div class="form-login">
            <input type="text" id="userName" class="form-control input-lg chat-input" placeholder="Usuario" />
            </br>
            <input type="text" id="userPassword" class="form-control input-lg chat-input" placeholder="Contraseña" />
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                <a href="#index" class="btn btn-primary btn-lg" id="btnInicioSesion">Entrar <i class="fa fa-sign-in"></i></a>
            </span>
			      <span class="group-btn">     
				        <a href="#registro" class="btn btn-primary btn-lg" id="btnRegistro">Registrarme<i class="fa fa-sign-in"></i></a>
            </span>
            </div>
            </div>
        
        </div>
    </div>
	</div>
</div>

<!--Pagina de registro-->
<div data-role="page" id="registro">
<div class="container">
<div class="page-header">
  <h1>Registro</h1>
</div>
<form role="form">
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail"
           placeholder="Introduce tu email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Contraseña</label>
    <input type="password" class="form-control" id="inputPassword" 
           placeholder="Contraseña">
  </div>
  <div class="form-group">
    <label for="inputPassword2">Escribe de nuevo tu contraseña</label>
    <input type="password" class="form-control" id="inputPassword2" 
           placeholder="Contraseña">
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="tipoUsuario" value="cliente" id="radioCliente"> Cliente
    </label>
	<label>
      <input type="radio" name="tipoUsuario" value="proveedor" id="radioProveedor"> Proveedor
    </label>
  </div>
  <input type="submit" class="btn btn-default" value="Registrarme"/>
</form>
</div>
</div>
<!--Pagina despues de login usuario-->
<div data-role="page" id="inicioUsuario">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
	<div class="collapse navbar-collapse" id="navbarCliente">
      <ul class="nav navbar-nav">
        <li><a href="#">Mensajes</a></li>
        <li><a href="#" id="solicitarServicio">Pedir Servicio</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="comtainer-fluid" id="contenidoCliente">
</div>
</div>
<!--Pagina despues del login del proveedor-->
<div data-role="page" id="inicioProveedor">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
	<div class="collapse navbar-collapse" id="navbarProveedor">
      <ul class="nav navbar-nav">
        <li><a href="#">Mensajes</a></li>
        <li><a href="#" id="ofrecerServicio">Ofrecer Servicio</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="comtainer-fluid" id="contenidoProveedor">
</div>
</div>
<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="http://localhost:3000/scripts/script.js"></script>
</body>
</html>